/*ROOTS*/
:root{
    /*COLORS*/
    --navbar-footerbtm-bgcolor: rgb(44, 62, 80);
    --bgcolor-uneven: rgb(26, 188, 156);
    --color-even: white;
    --bgcolor-footer-top: rgb(58, 84, 109);
}

/*COMMON*/
.ms_btn{
    color: white;
    border-color: white;
}

.ms_btn_green{
    background-color: var(--bgcolor-uneven);
    color: white;
}

.ms_link_tx{
    color: var(--bgcolor-uneven);
    text-decoration: none;
}

.ms_white{
    filter: invert(99%) sepia(11%) saturate(2%) hue-rotate(308deg) brightness(108%) contrast(101%);
}

.ms_border_inp{
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.linea-stella{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trattino{
    border-top:3px solid white;
    width: 10%;
}

.trattino-bl{
    border-top:3px solid black;
    width: 10%;
}

.h-8{
    font-size: 0.8rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.circle{
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 0.8rem;
    height: 2.4rem;
    width: 2.4rem;
    margin: 0.5rem;
}

.btn:hover{
    outline: none;
    color: white;
    background-color: var(--bgcolor-uneven);
    border: 1px solid white;
}

.form-control:focus {
    box-shadow: none;
    border-color:gray ;
}

/*HEADER*/
/*NAV BAR*/
.ms_nav-bar{
    background-color: var(--navbar-footerbtm-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.logo{
    color: white;
    font-size: 1rem;
}

.ov-2{
    display: none;
}

.nav-link{
    display: none;
}


@media screen and (min-width: 576px) {
    .nav-link, .ov-2{
        display: block;
    }
    .nav-icon, .ov-6{
        display: none;
    }
}

/*HERO*/
.ms_hero{
    background-color: var(--bgcolor-uneven);
    color: white;
    padding: 3rem;
    margin-top: 3rem;
}

.ms_hero img{
    width: 200px;
    margin-bottom: 2rem;
}

/*MAIN*/
/*PORTFOLIO*/
.portfolio{
    background-color: var(--color-even);
    width: 100%;
}

.portfolio img{
    width: 100%;
    border-radius: 15px;
}

.about{
    background-color: var(--bgcolor-uneven);
    width: 100%;
}

.contact-me{
    background-color: var(--color-even);
    width: 100%;
}

.footer-top{
    background-color: var(--bgcolor-footer-top);

}

.footer-bottom{
    background-color: var(--navbar-footerbtm-bgcolor);

}