/*ROOTS*/
:root{
    /*COLORS*/
    --navbar-footerbtm-bgcolor: rgb(44, 62, 80);
    --bgcolor-uneven: rgb(26, 188, 156);
    --color-even: white;
    --bgcolor-footer-top: rgb(58, 84, 109);
}

/*COMMON*/
.my_btn{
    color: white;
    border-color: white;
}

.ms_btn_green{
    background-color: var(--bgcolor-uneven);
    color: white;
}

.my_white{
    filter: invert(99%) sepia(11%) saturate(2%) hue-rotate(308deg) brightness(108%) contrast(101%);
}

.ms_border_inp{
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.linea-stella{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trattino{
    border-top:3px solid white;
    width: 10%;
}

.trattino-bl{
    border-top:3px solid black;
    width: 10%;
}

/*HEADER*/
/*NAV BAR*/
.my_nav-bar{
    background-color: var(--navbar-footerbtm-bgcolor);
}

.logo{
    color: white;
    font-size: 1rem;
}

.ov-2{
    display: none;
}

.nav-link{
    display: none;
}

@media screen and (min-width: 576px) {
    .nav-link, .ov-2{
        display: block;
    }
    .nav-icon, .ov-6{
        display: none;
    }
}

/*HERO*/
.ms_hero{
    background-color: var(--bgcolor-uneven);
    color: white;
    padding: 3rem;
}

.ms_hero img{
    width: 200px;
    margin-bottom: 2rem;
}

/*MAIN*/
/*PORTFOLIO*/
.portfolio{
    background-color: var(--color-even);
    width: 100%;
}

.portfolio img{
    width: 100%;
    border-radius: 15px;
}


.about{
    background-color: var(--bgcolor-uneven);
    width: 100%;
}

.contact-me{
    background-color: var(--color-even);
    width: 100%;
}

.footer-top{
    background-color: var(--bgcolor-footer-top);

}

.footer-bottom{
    background-color: var(--navbar-footerbtm-bgcolor);

}